*~
sender
receiver
client
execpdc
Config_test
addfacl
execpdc.log
execpdc.config
server
old
*.bu
*.o
input/*.out
input/*.err
example1/
mpi_spmd/
cuda_device_info/
cuda_dim3Demo/
test_execpdc.out
execpdc_*
